body {
    background-color: bisque;
    text-align: center;
    font-family: cursive;
 }

#page-wrap {
    text-align: left;
    width: 800px;
    margin: 0 auto;
}

#facebook {
    max-width: 45px;
    min-width: 45px;
    max-height: 45px;
}
#twitter {
    max-width: 53px;
    min-width: 53px;
    max-height: 53px;
}
#instagram {
    max-width: 45px;
    min-width: 45px;
    max-height: 45px;
    margin: 0 0 0 0;
}

img {
    max-width: 45%;
}

#footer {
    filter: brightness(80%);
    clear: both;
    margin-top: 797px;
    border-top: 1px solid black;
    padding: 10px 0px;
    font-size: 80%;
    text-align: center;
}


a {
    text-decoration: none;
    color: white;
}

ul.topnav {
    list-style-type: none;
    margin: -10px -10px 0 -10px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}